@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@100&display=swap');

@layer components {

  body {
      font-family: 'Inter', sans-serif;
  }
  
  .navbar-fixed{
      @apply fixed z-[9999] bg-white bg-opacity-70;
      backdrop-filter: blur(5px);
      box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  }
  
  .hamburger-line{
      @apply w-[30px] h-[2px] my-2 block bg-white;
  }
  
  .hamburger-active > span:nth-child(1){
      @apply rotate-45;
  }
  
  .hamburger-active > span:nth-child(2){
      @apply scale-0;
  }
  
  .hamburger-active > span:nth-child(3){
      @apply  -rotate-45;
  }


  .card-content {
      @apply bg-white p-3 rounded-b-lg;
  }

  .card-content.card-shadow {
      @apply shadow-lg mb-1;
  }
  
  .card-title {
      @apply text-sm font-extrabold text-primary truncate;
  }

  .card-subtitle {
      @apply text-sm font-medium text-neutral-900 truncate;
  }

  .card-caption {
      @apply text-xs text-neutral-500 mt-3 truncate;
  }

}


@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }

  .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
  }
}